.env
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
venv/
.venv/
data/raw/*
!data/raw/.gitkeep
!data/raw/basketball_nba_synthetic_sample.json
data/processed/*
!data/processed/.gitkeep
!data/processed/nba_games_synthetic.csv
!data/processed/mlb_games_real.csv
